<!DOCTYPE html>

<html lang="en">
    <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <style>
            div.a {
              text-indent: 50px;
            }
            </style>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
       
        <title>Heloísa Souza</title>
        
</head>
<body>
    <div class="container-md">
    <div class="p-3 mb-2 bg-info text-white">
    <h1 class="text-center">Heloísa de Souza Vanderlei Oliveira</h1>
    </div>
    
    <img src="https://media-exp1.licdn.com/dms/image/C4D03AQF0i1EAdb1aTA/profile-displayphoto-shrink_400_400/0?e=1611187200&v=beta&t=EmOt13C3TYM_bUflIvloeVQ8gmmbCVEcdNSIsePrxOU" alt="Imagem de perfil" class="rounded float-left" width="200px">

    <br>
    <p><b>Nascimento:</b> <i>25/07/1985</i></p>
    <p><b>Email:</b> heloisabis@gmail.com</p>
    <p><b>Telefone:</b> (81) 99290 3109</p>
    <a href="https://www.linkedin.com/in/heloisa-souza-229001176/"><b>Linkedin</b></a>
    
    <br><br><br>
    <div class="p-3 mb-2 bg-info text-white" >
    <h2 class="text-center">Endereço</h2>
    </div>

    <div class="m-3">
    <dl>
        <dt><b>Logradouro:</b></dt>
        <dd>Avenida Dolores Duran, Nº 50</dd>
        <dt><b>Bairro:</b></dt>
        <dd>Curado III</dd>
        <dt><b>Cidade</b></dt>
        <dd>Jaboatão dos Guararapes-PE</dd>
        <dt><b>CEP:</b></dt>
        <dd>54.220-140</dd>
    </dl>
    </div>
    
    <div class=" p-3 mb-2 bg-info text-white">
    <h2 class="text-center">Resumo Profissional</h2>
    </div>

    <div class= "a">
    <p class ="text-justify p-3">Em todas as empresas que atuei, sempre fui dedicada, motivada e vesti a camisa da empresa. Com isso adquiri algumas experiências em diversas áreas de atuação. Fui reconhecida por ser prestativa, ágil e atenciosa com a realização das atividades a mim atribuídas, sempre busquei soluções, satisfazendo tanto a empresa quanto os clientes. Organização e competência, facilitam o instinto próprio de liderança e desenvolvimento em equipes.</p>
    </div>
    
    <div class="p-3 mb-2 bg-info text-white">
    <h2 class="text-center">Experiências</h2>
    </div>
     
    <div class="m-3">
        <dl>
            <dt><b>Coagroali</b></dt>
            <dd><b>Téc. Agropecuária</b></dd>
            <dd>Aliança-PE</dd>
            <dd>Agosto de 2017 - Setembro de 2019</dd>
            <dd>Aplicação de Cursos de Reciclagem e Capacitação da NR-31.</dd>
            
            <br>
            <dt><b>Start Recursos Humanos </b></dt>
            <dd><b>Ascensorista</b></dd>
            <dd>Recife-PE</dd>
            <dd>Maio de 2014 - Julho de 2017</dd>
            <dd>Operadora de Elevadores.</dd>
            <dd>Brigadista de Combate à Incêndios.</dd>
    
            <br>
            <dt><b>Secretaria de Educação - Prefeitura Municipal da Aliança-PE</b></dt>
            <dd><b>Assistente Administrativo</b></dd>
            <dd>Aliança-PE</dd>
            <dd>Março de 2013 - Dezembro de 2013</dd>
            <dd>Cadastro dos Alunos da rede Municipal de ensino no Projeto Mais Educação do Município.</dd>
            <dd>Assistente de Turma do Curso de Mídias e música no Projeto Mais Educação.</dd>
            
            <br>
            <dt><b>Provider Soluções Tecnológicas</b></dt>
            <dd><b>Atendente Telemarketing</b></dd>
            <dd>Recife-PE</dd>
            <dd>Junho de 2012 - Fevereiro de 2013</dd>
            <dd>Telemarketing Ativo.</dd>  
            <dd>Vendas de Seguros.</dd>   
            <dd>Prospecção de novos clientes.</dd> 

            <br>
            <dt><b>Ativa Serviços</b></dt>
            <dd><b>Auxiliar de Escritório</b></dd>
            <dd>Uberaba-MG</dd>
            <dd>Setembro de 2008 - Setembro de 2010</dd>
            <dd>Prospecção de novos clientes.</dd>
            <dd>Agendamento de Visitas especializadas.</dd>
            <dd>Agendamento de prestação de serviços.</dd>   
            <dd>Organização de seleção e recrutamento.</dd>
            <dd> Rotinas de escritório.</dd>

            <br>
            <dt><b>Irmãos Bretas e Cia Ltda.</b></dt>
            <dd><b>Orientadora de CRC</b></dd>
            <dd>Uberaba-MG</dd>
            <dd>Maio de 2006 - Setembro de 2008</dd>
            <dd>Operadora de caixa.</dd>  
            <dd>Atendente do Cartão Bretas Visa.</dd> 
            <dd>Cadastro de cliente e Análise de Crédito.</dd> 
            <dd>Emissão de Notas Fiscais.</dd> 
        </dl>
    </div>

    <div class="p-3 mb-2 bg-info text-white">
    <h2 class="text-center">Competências</h2>
    </div>

    <div class="m-3">
    <ul>     
        <li>Inglês Intermediário</li>  
        <li>Lógica de Programação</li> 
        <li>JavaScript</li>
        <li>Java</li>
        <li>CSS</li>
        <li>HTML5</li>
        <li>Node JS</li>
        <li>Banco de Dados</li> 
        <li>CCNA - Cisco NetAcademy</li>
    </ul>
    </div>
    
    <div class="p-3 mb-2 bg-info text-white">
    <h2 class="text-center">Formação Acadêmica</h2>
    </div>
   
    <div class="m-3">
    <dl>
    <dt>IFPE - Instituto Federal de Educação, Ciência e Tecnologia de Pernambuco. Campus Jaboatão dos Guararapes-PE.</dt>
    <dd>Curso Técnico em Informática para Internet</dd>
    <dd>2019 - 2021 (Cusando)</dd>
    <br>
    <dt>IFPE - Instituto Federal de Educação, Ciência e Tecnologia de Pernambuco. Campus Vitória de Santo Antão-PE.</dt>
    <dd>Curso Técnico em Agropecuária</dd>
    <dd>2002 - 2004</dd>
    <br>
    <dt>IFPE - Instituto Federal de Educação, Ciência e Tecnologia de Pernambuco. Campus Vitória de Santo Antão-PE.</dt>
    <dd>Ensino Médio Completo</dd>
    <dd>2002 - 2004</dd>
    </dl>
    </div>
    <br><br><br><br>

    <hr>
    <p class="text-center">©Heloísa de Souza Vanderlei Oliveira - 2020</p>

    </div>
</body></html>